{:paths ["src" "test" "scripts"]
 :deps {io.github.kotoba-lang/edn
         {:git/url "https://github.com/kotoba-lang/edn.git"
          :git/sha "250f4dafa5f5c7fb3109703496a52866e2a62dcd"}}
 :tasks
 {test {:doc "Run ooyake cljc actor boundary tests."
        :task (do
                (require 'clojure.test
                         'ooyake.murakumo-test
                         'ooyake.cells.reconcile.test-state-machine
                         'ooyake.cells.world-model.test-state-machine
                         'ooyake.methods.test-charter-gates
                         'ooyake.repository-contract-test)
                (let [run-tests (requiring-resolve 'clojure.test/run-tests)
                      r (run-tests 'ooyake.murakumo-test
                                   'ooyake.cells.reconcile.test-state-machine
                                   'ooyake.cells.world-model.test-state-machine
                                   'ooyake.methods.test-charter-gates
                                   'ooyake.repository-contract-test)]
                  (System/exit (if (zero? (+ (:fail r) (:error r))) 0 1))))}
  coverage {:doc "Run kotoba/CLJC functional coverage matrix."
            :task (do
                    (require 'coverage-matrix)
                    ((requiring-resolve 'coverage-matrix/-main)))}}}